*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.edit-input{
    text-align: end;
    border: none;
    display: none;
}
.edit-date{
    text-align: end;
    border: none;
    display: none;
}
.edit-input-value{
    margin: 0;
}
.edit-date-value{
    margin: 0;
}